<div class="pages">
  <h1 class="title">טופס איכות הסביבה</h1>

  <mat-horizontal-stepper #stepper labelPosition="bottom" [@.disabled]="true" disableRipple="false" [selectedIndex]="currentPages"
    linear>
    <mat-step [stepControl]="applicant.formStepApplicant" label="פרטי המבקש" state="perm_identity" [completed]="false" >
      <app-applicant-details #applicant></app-applicant-details>
    </mat-step>

    <mat-step [stepControl]="commodity.formStepCommodity" label="פרטי הטובין" state="archive" [completed]="false" >
      <app-commodity-details #commodity></app-commodity-details>
    </mat-step>

    <mat-step [stepControl]="saving.formStepSaving" label="אישור וסיום" state="send" [completed]="false" >
      <app-saving-details #saving (edit)="prevPage($event)"></app-saving-details>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="perm_identity">
      <mat-icon (click)="prevPage(1)">perm_identity</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="archive">
      <mat-icon (click)="prevPage(1)">archive</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="send">
      <mat-icon  (click)="stepSave(3)">send</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>

  <div class="footer">
    <div matStepperPrevious class="btn btn-prev" (click)="prevPage(1)">
        <span class="icon-prav">arrow_forward</span>
        <span> חזרה</span>
    </div>
    <div *ngIf="showNextBtn" matStepperNext class="btn btn-next" (click)="nextPage()">המשך</div>
    <div *ngIf="showConfirmationBtn" class="btn btn-confirmation" (click)="reset()">אישור</div>
  </div>
</div>
